<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
    <title>Laboratorios TC2005B</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <nav class="navbar is-warning">
                <div class="navbar-end">
                    <% if (username != '') { %>
                        <a class="navbar-item" href="/usuarios/logout">
                            
                            <%= username%> | Salir 
                        </a>
                    <% } %>
                </div>
            </nav>