body {
	margin: 0 auto;
	max-width: 50em;
	font-family: "Arial";
	line-height: 1.5;
	padding: 5em 1em;
	color: #3d3d3d;
}

h2, 
h3 {
	margin-top: 5px;
	padding-top: 5px;
}

h2:active, 
h3:active {
	color: #f0dfdf
}

h1 {
	background: linear-gradient(#f0dfdf, #ede1fa);
	padding: 20px;
	border-radius: 15px;
}

h1:active {
	background: linear-gradient(#ede1fa, #f0dfdf);
	padding: 20px;
}

a {
	color: #a681b5;
}

p {
	margin-top: 2px;
	padding-top: 2px;
}

img.bord {
	max-width: 120px;
	height: auto;
	border: 5px solid #f0dfdf;
}

aside {
	float: right;
	background-color: #f0dfdf;
}


p.txt{
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 7px;
}

ul.list,
ol.list{
	background-color: #f2f2f2;
	padding: 40px;
	border-radius: 15px;
}

a#mail:hover {
	background-color: #e1e4fa;
}

a#button {
	background-color: #d9add2;
	color: white;
	padding: 6px 6px;
	border-radius: 7px;
}

a#button:hover {
	background-color: #a9cdde;
	color: white;
	padding: 6px 6px;
	border-radius: 7px;
}

footer{
	font-size: 11px;
	text-align: center;
}

ol#references {
	width: 720px;
	height:400px;
	overflow: scroll;
}