<%- include('includes/head.ejs') %>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <p class="title">Registro exitoso de autor</p>
        </div>
    </section>
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <div class="block"></div>
                <div class="box">
                    <h1 class="title is-centered">Estado de Registro: </h1>
                    <div>"El registro fue exitoso"</div><br><a href="/registros/libros/librosregistrados">Ver lista de
                        libros registrados</a><br><a href="/registros/autores/autoresregistrados">Ver lista de autores
                        registrados</a>
                    </div>
                    <div class="block"></div>
                    <div class="block"></div><button id="checar" class="button is-warning">Registrar</button></form>
                    <div class="block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="block"></div>
    <br>
<%- include('includes/foot.ejs') %>