<%- include('includes/head.ejs') %>
                <p class="title">Libros encontrados</p>
            </div>
        </section>
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <div class="block"></div>
                    <div class="box">
                        <h1 class="title is-centered">Lista de libros con el título o palabras que buscabas: </h1>

                        <% for (let libro of libros){ %>
                            <li>
                                <%= libro.titulo %>
                            </li>
                        <% } %> 
                        
                        <div class="box">
                                <a href="/registros">Regresar a la página principal</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block"></div>
        <br>
<%- include('includes/foot.ejs') %>