<%- include('includes/head.ejs') %>
    <body>
        <section class="hero is-warning">
            <div class="hero-body">
                <p class="title">Libros registrados</p>
            </div>
        </section>
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <div class="block"></div>
                    <div class="box">
                        <h1 class="title is-centered">Lista de Libros registrados: </h1>

                        <% for (let i=0; i < array_libros.length; i++){ %>
                            <li>
                                <%= array_libros[i].nombre1 %>
                            </li>
                        <% } %> 
                            <br><a href="/registros/autores/autoresregistrados">Ver lista de autores
                                registrados</a>
                                <br
                                ><br>
                                <a href="/registros">Regresar a la página principal</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block"></div>
        <br>
<%- include('includes/foot.ejs') %>