<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
    <title>Laboratorio 11</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <p class="title">Registrar Libros y Autores</p>
        </div>
    </section>
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <div class="block"></div>
                <div class="box">
                    <h1 class="title is-centered">Registro de Libros y Autores</h1>
                    <div class="field">
                        <form>
                            <label class="label">Selecciona lo que desees registrar:</label>
                            <div class="control"></div>
                    </div>
                    <div class="block"></div>
                    <div class="block"></div>
                    <a href="/registros/libros">Registrar libros</a><br>
                    <div class="block"></div>
                    <a href="/registros/autores">Registrar autores </a><br>
                    <div class="block"></div>
                    <a href="/registros/recomendaciones">Recibir recomendaciones literarias </a><br>
                    <div class="block"></div>
                    <a href="/registros/preguntas">Ver preguntas de laboratorios </a><br>
                    </form>
                    <div class="block"></div>
            </div>
        </div>
    </div>
    </div>

    <div class="block"></div>
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>
    </body>
    </html>