<%- include('includes/head.ejs') %>
            <p class="title">Modificaci칩n Exitosa</p>
        </div>
    </section>
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <div class="block"></div>
                <div class="box">
                    <h1 class="title is-centered">Estado de Modificaci칩n: </h1>
                    <div>"La modificaci칩n fue exitosa"</div><br><a href="/registros/autoresregistrados">Ver lista de
                        autores registrados modificada</a><br><a href="/registros">Regresar a la p치gina principal</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block"></div>
    <br>

<%- include('includes/foot.ejs') %>