<%- include('includes/head.ejs') %>
                <p class="title">Recomendaciones Literarias</p>
            </div>
        </section>
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <div class="block"></div>
                    <div class="box">
                        <h1 class="title is-centered">Las recomendaciones literarias de la página son las siguientes: </h1>
                        <% function numero_random(min, max) { %> 
                            <% return Math.floor(Math.random() * (max - min + 1) + min); %>
                        <% } %> 
                        <% let num_lib = numero_random(0, libros.length); %>
                        <% for (let libro of libros){ %>
                            <% if (libro.idLibro == num_lib) {%>
                                <div>La página te sugiere que leas el siguiente libro: <strong><%= libro.titulo %></strong></div><br>
                            <% } %>
                        <% } %>
                            <br><a href="/registros/autoresregistrados">Ver lista de autores
                                registrados</a>
                                <br><br>
                                <a href="/registros">Regresar a página principal</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block"></div>
        <br>
<%- include('includes/foot.ejs') %>