<%- include('includes/head.ejs') %>
    <body>
        <section class="hero is-warning">
            <div class="hero-body">
                <p class="title">Recomendaciones Literarias</p>
            </div>
        </section>
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <div class="block"></div>
                    <div class="box">
                        <h1 class="title is-centered">Las recomendaciones literarias de la página son las siguientes: </h1>
                        <% function numero_random(min, max) { %> 
                            <% return Math.floor(Math.random() * (max - min + 1) + min) %>
                        <% } %> 
                        <% if (array_libros.length < 1) {%>
                            <div>No te podemos recomendar libros porque aún no hay registros en la página.</div><br>
                        <% } else{ %>
                            <div>La página te sugiere que leas el siguiente libro: <strong><%= array_libros[numero_random(0, array_libros.length)].nombre1 %></strong></div><br>
                        <% } %>
                        <% if (array_autores.length < 1) {%>
                            <div>No te podemos dar recomendaciones de autores porque aún no hay registros de autores en la página.</div>
                        <% } else{ %>
                            <div>La página te sugiere que leas obras de: <strong><%= array_autores[numero_random(0, array_autores.length)].nombre %></strong></div>
                        <% } %>
                            <br><a href="/registros/autores/autoresregistrados">Ver lista de autores
                                registrados</a>
                                <br><br>
                                <a href="/registros">Regresar a página principal</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block"></div>
        <br>
<%- include('includes/foot.ejs') %>